@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@layer base, elements, components, utilities;

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  :root {
    --clr-orange-500: hsl(25, 97%, 53%);
    --clr-white: hsl(0, 100%, 100%);
    --clr-grey-500: hsl(217, 12%, 63%);
    --clr-grey-900: hsl(213, 19%, 18%);
    --clr-grey-950: hsl(216, 12%, 8%);
  }
}

@layer elements {
  body {
    margin: 0;
    font-family: 'Overpass', system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    background-color: #141519;
    color: var(--clr-white);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 15px;
  }

  button {
    background-color: var(--clr-orange-500);
    border: none;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 12px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--clr-white);
  }
}

@layer components {
  .card {
    max-width: 325px;
    background: linear-gradient(145deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    padding: 30px 25px;
    border-radius: 20px;
  }

  .card-icon-container {
    background-color: var(--clr-grey-900);
    width: max-content;
    padding: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .card-icon {
    width: 50%;
  }

  .card-heading {
    font-size: 22px;
    font-weight: normal;
  }

  .card-paragraph {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: var(--clr-grey-500);
    margin-bottom: 20px;
  }

  .card-paragraph.center {
    margin-bottom: 0;
  }

  .card-ratings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .card-rating {
    background-color: var(--clr-grey-900);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: var(--clr-grey-500);
    font-weight: 600;
    cursor: pointer;
  }

  .card-rating.selected {
    background-color: var(--clr-white);
    color: black;
  }

  .card-rating:hover {
    background-color: var(--clr-orange-500);
    color: black;
  }

  .card-image {
    display: block;
    margin: auto;
    max-width: 45%;
  }

  .card-rating-text {
    color: var(--clr-orange-500);
    font-size: 13px;
    background-color: var(--clr-grey-900);
    padding: 5px 15px;
    border-radius: 20px;
    width: max-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  #thankyou-card {
    display: none;
  }
}

@layer utilities {
  .center {
    text-align: center;
  }

  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}
